@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
  font-family: 'Press Start 2P', cursive;
  min-height:100vh;
  background: url('./img/grass.webp');
  background-repeat: repeat;
}

html{
  font-size: 10px;
}